In [26]:
import pandas as pd
import utils
import collections
import matplotlib.pyplot as plt

%matplotlib inline
plt.rcParams['figure.figsize'] = (10.0, 8.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

# for auto-reloading extenrnal modules
# see http://stackoverflow.com/questions/1907993/autoreload-of-modules-in-ipython
%load_ext autoreload
%autoreload 2
pd.options.display.float_format = '{:,.2f}'.format

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [51]:
labels = (
    1521,# - shoes + high heels
    1703,# - accessories
    1707,# - cosmetics + perfume
    1729,# - ??? WTF - mostly: glasses, hand bags, but also: hats, key holder, ties, wigs, belts, gloves, shirts
    1751,# - watch
    1755,# - shirts
    1837,# - wedding
    2037,# - jeans+women cloths
    2525,# - white shoes
    2526,# - wedding men + wedding dress ?
)


x_train = collections.defaultdict(list)

lines = open('data/train_dataset.txt').readlines()[1:]
label_to_total = collections.defaultdict(int)
for line in lines:
    ad_id, file_path, label = line.strip().split()
    x_train[ad_id].append(
        {
            'file_path': file_path,
            'label': int(label),    
        }
    )
    
    label_to_total[label] += 1

# Total number of images per label

In [35]:
df = pd.DataFrame(
    data=[label_to_total[label] for label in sorted(label_to_total)],
    index=sorted(label_to_total),
    columns=[ 'total'],
)

df['%'] = (df['total']/sum(df['total']))* 100
df.sort_values('%', ascending=False)

      total     %
1755   5158 45.71
1521   1958 17.35
1729   1504 13.33
1751    759  6.73
1703    728  6.45
1707    519  4.60
1837    263  2.33
2037    176  1.56
2525    158  1.40
2526     61  0.54

# Toal samples per label

In [38]:
ad_id_to_num_of_samples = {
    1521: 512,
    1703: 282,
    1707: 255,
    1729: 425,
    1751:204,
    1755: 1532,
    1837: 54,
    2037: 54,
    2525: 44,
    2526: 17,
}

df = pd.DataFrame(
    data=ad_id_to_num_of_samples.values(),
    index=ad_id_to_num_of_samples.keys(),
    columns=[ 'total'],
)

df['%'] = (df['total']/sum(df['total']))* 100
df.sort_values('%', ascending=False)

      total     %
1755   1532 45.34
1521    512 15.15
1729    425 12.58
1703    282  8.35
1707    255  7.55
1751    204  6.04
2037     54  1.60
1837     54  1.60
2525     44  1.30
2526     17  0.50

In [37]:
num_of_items_list = (1,2,3,4,5,6,7,8)
table = np.zeros(
    (
        len(num_of_items_list),
        len(labels),
    )
).astype('int32')
for i, num_of_items in enumerate(num_of_items_list):
    label_to_count = collections.defaultdict(int)
    for ad_id, items in x_train.items():
        if len(items) == num_of_items:
            label = items[0]['label']
            label_to_count[label] += 1
    for j, label in enumerate(sorted(label_to_count)):
        count = label_to_count[label]
        table[i,j] = count

pd.DataFrame(data=table, columns=labels, index=num_of_items_list)
# df['%'] = (df['total']/sum(df['total']))* 100
# df.sort_values('%', ascending=False)

      total     %
1755   1532 45.34
1521    512 15.15
1729    425 12.58
1703    282  8.35
1707    255  7.55
1751    204  6.04
2037     54  1.60
1837     54  1.60
2525     44  1.30
2526     17  0.50

# split images stratified