In [12]:
import pandas as pd
import utils
import collections
import matplotlib.pyplot as plt

%matplotlib inline
plt.rcParams['figure.figsize'] = (10.0, 8.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

# for auto-reloading extenrnal modules
# see http://stackoverflow.com/questions/1907993/autoreload-of-modules-in-ipython
%load_ext autoreload
%autoreload 2

In [51]:

x_train = collections.defaultdict(list)

lines = open('data/train_dataset.txt').readlines()[1:]
label_to_total = collections.defaultdict(int)
for line in lines:
    ad_id, file_path, label = line.strip().split()
    x_train[ad_id].append(
        {
            'file_path': file_path,
            'label': int(label),    
        }
    )
    
    label_to_total[label] += 1

In [24]:
labels = (
    1521,# - shoes + high heels
    1703,# - accessories
    1707,# - cosmetics + perfume
    1729,# - ??? WTF - mostly: glasses, hand bags, but also: hats, key holder, ties, wigs, belts, gloves, shirts
    1751,# - watch
    1755,# - shirts
    1837,# - wedding
    2037,# - jeans+women cloths
    2525,# - white shoes
    2526,# - wedding men + wedding dress ?
)

In [30]:
# df = pd.DataFrame(columns=["num_of_items", "label"])
# df.
df = pd.DataFrame(
    [['a', 'b'], ['c', 'd']],
    index=['row 1', 'row 2'],
    columns=['col 1', 'col 2'],
)

# Total number of samples per label

In [59]:
df = pd.DataFrame(
    data=[label_to_total[label] for label in sorted(label_to_total)],
    index=sorted(label_to_total),
    columns=[ 'total'],
)
df

      total
1521   1958
1703    728
1707    519
1729   1504
1751    759
1755   5158
1837    263
2037    176
2525    158
2526     61

# x number of images per sample to label

In [48]:
num_of_items_list = (1,2,3,4,5,6,7,8)
table = np.zeros(
    (
        len(num_of_items_list),
        len(labels),
    )
).astype('int32')
for i, num_of_items in enumerate(num_of_items_list):
    label_to_count = collections.defaultdict(int)
    for ad_id, items in x_train.items():
        if len(items) == num_of_items:
            label = items[0]['label']
            label_to_count[label] += 1
    for j, label in enumerate(sorted(label_to_count)):
        count = label_to_count[label]
        table[i,j] = count

pd.DataFrame(data=table, columns=labels, index=num_of_items_list)

   1521  1703  1707  1729  1751  1755  1837  2037  2525  2526
1    81   118   135    58    41   306     3    12     5     3
2    75    55    58    79    36   357     6    13     6     2
3   102    48    25   101    30   288     6     8     6     4
4    96    18    13    72    29   177     6     5    14     0
5    49    10     9    51    17   129    11     7     8     4
6    26    10     7    21    17   109     5     1     2     1
7    20     2     2    20    11    53     7     3     1     0
8    62    20     5    22    22   112     9     4     1     2

In [ ]:
# examples_per_class = 8
# classes = ['']
# for cls, cls_name in enumerate(classes):
#     idxs = np.where((y_test != cls) & (y_test_pred == cls))[0]
#     idxs = np.random.choice(idxs, examples_per_class, replace=False)
#     for i, idx in enumerate(idxs):
#         plt.subplot(examples_per_class, len(classes), i * len(classes) + cls + 1)
#         plt.imshow(X_test[idx].astype('uint8'))
#         plt.axis('off')
#         if i == 0:
#             plt.title(cls_name)
# plt.show()